@import "../variables.scss";

.square {
    background: $background;
    border: 1px solid $border;
    font-size: $square-font;
    font-weight: bold;
    line-height: $square-size;
    margin: -1px -1px 0 0;
    padding: 0;
    text-align: center;
    min-width: $square-size;
    min-height: $square-size;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: $background;
}
